/* CSS declarations go here */

html, body {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  min-width: 1000px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, input {
  margin: 0;
}

select {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, .14);
  padding: 7px;
  font-size: 13px;
  color: #37474F;
}

input[type="checkbox"],
select,
label {
  cursor: pointer;
}
